/* Je donne le chemin d'accès à mon css d'un composant ici la nav*/
@import url(components/navbar.css);

body {
  margin: 40px 40px;
  background-color: #F9F8F4;
  font-family: "Inter", sans-serif;
  color: #1C232F;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 64px;
  margin: 0px;
  text-transform: uppercase;
  color: #886176;
}

h2, h3 {
  color: #1C232F;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: left;
}

a {
  text-decoration: none;
  color: #886176;
}

a:hover {
  color: #1C232F;
}

p, li {
  line-height: 1.5em;
}
/*
ul li {
  display: inline;
}
*/
li {
  text-align: left;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card {
	background: #ffffff;
    padding: 16px;
  border-radius: 16px;

}

.preparation {
	background: #ffffff;
  padding: 16px;
  border-radius: 16px;
  width: 50%;
}

.ingredient {
	background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  width: 50%;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div-flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.card-prep {
  background-color: aquamarine;
  padding: 1rem;
}
/* NAV*/
.items-nav {
  display: flex;
  gap: 1rem;
}

#logo {
  width: 40px;
  height: auto;
}

.grid {
  display: grid;
  Grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
}

.container-white {
  background-color: #f6f6f6;
}

.card-table {
  padding: 0,5rem;
  border: 1px solid #ededed;
}
/* Test flex
.uno {
  background-color: #1C232F;
}

.dos {
  background-color: #b72162;
}
 
.tres {
  background-color: #716d6f;
}

.container-flex {
  display: flex;
  justify-items: space-around;
  align-items: flex-end;
  background: #ffffff;
}
*/